/* classi generiche */

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

.btn {
    border-radius: 10px;
    border: none;
    background-color: #0c0c0c;
    color: #FFFFFF;
    padding: 14px 24px; /* shortcut: il primo valore è per top-bottom, il secondo è per right-left */
    font-size: 16px;
    width: fit-content;
}

.h1 { /* è solo un vestito, niente di più. Rimane un h1 anche se lo vesti da h4 */
    font-size: 64px;
    margin: 0;
    font-weight: 800px;
}

.space {
    padding: 0 80px;
}

/* fine classi generiche */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 67px 80px;
    align-items: center;
}

.header .navbar, .header .navbar ul {
    display: flex;
    flex-direction: row;
    gap: 48px;
    list-style-type: none;
    margin: 0;
    align-items: center;
}

.hero {
    width: 100%; /* si può usare anche 100vw (assoluto) */
    padding: 120px 0;
}

.hero .hero_content {
    margin: auto;
    width: fit-content;
    text-align: center;
}

.feature-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border: red 2px solid;
}

.feature-section .feature-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.feature-section .feature-content div {
    width: 80%;
}

.feature-section .feature-img {
    width: 50%;
}

.feature-section .feature-img img {
    max-height: 400px;
    object-fit: cover;

    border: rgb(27, 62, 201) 2px solid;
}

.reverse { /*potrei mettere uno style interno all'HTML, funziona uguale obv*/
    flex-direction: row-reverse;
}

