h1 {
    color: aliceblue;
}

.btn { /* CLASS: assegna ai tag con class="btn" le seguenti proprietà */
        /* arrotondare gli angoli dell'elemento */
    border-radius: 10px; 
    width: 100px;
    height: 300px;
}