h1 {
    color: black;
    font-size: 70px;

}
.btn1 { /* CLASS: assegna ai tag con class="btn" le seguenti proprietà */
    border-radius: 10px;
    margin: 0 10px;
}

.btn2 {
    border-radius: 10px;
    margin: 0 10px;
}

.search-bar {
    margin: 0px 10px 10px 10px;
    padding-left: 15px;
    width: 500px; 
    height: 25px;
    border-radius: 20px;
    
}